files/flows.json
[{"id":"fe55c1e5.7255e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a93c2f38.ab089","type":"inject","z":"fe55c1e5.7255e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":490,"y":20,"wires":[["7b503a4c.093264"]]},{"id":"7b503a4c.093264","type":"function","z":"fe55c1e5.7255e","name":"Random number","func":"msg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":636,"y":87,"wires":[["a4168eed.51ced","f7f17251.77618","5b61fc11.b0f0c4","b77ea038.2571b"]]},{"id":"a4168eed.51ced","type":"ui_chart","z":"fe55c1e5.7255e","name":"","group":"957e9c18.4e599","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"60","outputs":1,"x":837,"y":106,"wires":[[]]},{"id":"f7f17251.77618","type":"ui_gauge","z":"fe55c1e5.7255e","name":"","group":"957e9c18.4e599","order":3,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":843,"y":169,"wires":[]},{"id":"5b61fc11.b0f0c4","type":"ui_slider","z":"fe55c1e5.7255e","name":"","label":"slider","group":"c2b86cae.5afde","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","x":844,"y":238,"wires":[[]]},{"id":"b77ea038.2571b","type":"ui_text","z":"fe55c1e5.7255e","group":"c2b86cae.5afde","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":847,"y":296,"wires":[]},{"id":"957e9c18.4e599","type":"ui_group","z":"fe55c1e5.7255e","name":"Status","tab":"f7ae7b40.d991d8","order":1,"disp":true,"width":"10","collapse":false},{"id":"c2b86cae.5afde","type":"ui_group","z":"fe55c1e5.7255e","name":"anotherWidget","tab":"f7ae7b40.d991d8","order":2,"disp":true,"width":"6"},{"id":"f7ae7b40.d991d8","type":"ui_tab","z":"fe55c1e5.7255e","d":true,"name":"Home","icon":"dashboard","order":5,"disabled":false,"hidden":false}]